@media (max-width: 1440px) {
    .wrapper {
        max-width: 1140px;
    }

    header {
        /*grid-template-rows:  280px 300px;*/
        grid-template-rows:  minmax(234px , 280px) minmax(250px, 300px) ;
        grid-template-columns: minmax(450px, 540px) minmax(450px, 540px);
        /*grid-template-columns: 540px 540px;*/
        margin: 30px 15px 70px 15px;
        gap: 24px 30px;

    }

    .banner::after {
        width: 98px;
        height: 9.3px;
    }

    .bannermain__img {
        height: 280px;
    }

    .banner__img{
        height: 300px;
    }

    .banner__text {
        top: 48%;
        left: 8%;
    }

    .catalog__items {
        margin: 0 30px 90px 0px;
    }

    .catalog__bg {
        width: 160px;
        height: 160px;
    }

    .catalog__img {
        width: 50%;
    }

    .catalog__discription {
        max-width: 160px;
    }

    .goods_item {
        max-width: 160px;
    }

    .promo__bg {
        height: 210px;
    }

    /*.promo {*/
    /*    grid-template-rows: 210px;*/
    /*}*/

    .promo__discription {
        font-size: 24px;
    }

    .stock__title {
        margin-top: 49px;
    }

    .stock__item {
        max-width: 255px;
        /*max-height: 255px;*/
    }

    /*.stock__img {*/
    /*    width: 255px;*/
    /*    height: 255px;*/
    /*}*/

    .stock__discription {
        font-size: 16px;
    }

    .discounts_title {
        margin-top: 66px;
    }

    .discounts_item {
        max-width: 155px;
    }

    .brands__img {
        max-height: 100px;
    }

    .brands_items {
        margin-bottom: 120px;
    }
}

/*@media (max-width: 1024px) {*/
@media (max-width: 1070px) {

    body {
        overflow-X: hidden;
    }

    .wrapper {
        max-width: 960px;
    }

    header {
        /*grid-template-rows:  234px 250px;*/
        /*grid-template-columns: 450px 450px;*/
        grid-template-rows:  minmax(170px , 234px) minmax(220px, 250px) ;
        grid-template-columns: minmax(315px, 450px) minmax(315px, 450px);

        margin: 30px 15px 60px 15px;

    }

    .banner::after {
        width: 82px;
        height: 7.8px;
    }

    .bannermain__img {
        height: 238px;
    }

    .banner__img{
        height: 250px;
    }

    .banner__title {
        font-size: 26px;
    }

    .catalog__items {
        margin: 0 0px 60px 0px;
    }

    .catalog__bg {
        width: 130px;
        height: 130px;
    }

    .catalog__img {
        width: 50%;
    }

    .catalog__discription {
        max-width: 130px;
        font-size: 14px;
    }

    .goods_item {
        max-width: 133px;
    }

    .promo__bg {
        height: 180px;
    }


    .promo__img {
        max-width: 209px;
    }

    .promo__discription {
        font-size: 20px;
    }

    .stock__title {
        margin-top: 60px;
    }

    .stock__item {
        max-width: 210px;
        /*flex: 1 1 428px;*/
    }

    /*.stock__img {*/
    /*    width: 210px;*/
    /*    height: 210px;*/
    /*}*/

    .stock__text {
        /*max-height: 33px;*/
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }

    .discounts_title {
        margin-top: 64px;
    }

    .discounts_item {
        max-width: 133px;
    }

    .discounts__img {
        max-height: 130px;
    }

    .brands__img {
        max-height: 80px;
    }

    .brands_items {
        margin-bottom: 60px;
    }

    .footer_info {
        grid-template-columns: repeat(3, minmax(260px, 360px));


    }
}

@media (max-width: 890px) {

    .stock__item {
        max-width: 330px;
        margin-bottom: 32px;
    }

    /*.stock__img {*/
    /*    width: 330px;*/
    /*    height: 330px;*/
    /*}*/
}

@media (max-width: 768px) {
    .wrapper {
        max-width: 720px;
    }
    /**/
    header {
        /*grid-template-rows:  170px 220px;*/
        /*grid-template-columns: 315px 315px;*/
        grid-template-rows:  minmax(126px , 170px) minmax(183px, 220px) ;
        grid-template-columns: minmax(240px, 315px) minmax(240px, 315px);
    }

    .bannermain__img {
        height: 170px;
    }

    .banner::after {
        width: 60px;
        height: 5.6px;
    }

    .banner__img{
        height: 220px;
    }

    .banner__text {
        top: 45%;
        left: 6%;
    }

    .banner__title {
        font-size: 16px;
    }

    .banner__discription {
        font-size: 13px;
    }

    /*.invisible {*/
    /*    display: none;*/
    /*}*/

    .catalog__item5, .catalog__item6, .goods_item4, .goods_item5, .goods_item6, .discounts_item4, .discounts_item5, .discounts_item6 {
        display: none;
    }

    .btn-next {
        display: inline-block;

    }

    .goods_item {
        max-width: 210px;
    }

    .good__price {
        margin-top: 23px;
    }

    .promo__bg {
        height: 160px;
    }

    /*.promo {*/
    /*    grid-template-rows: 160px;*/
    /*}*/

    .promo__img {
        max-width: 161px;
    }

    .promo__discription {
        font-size: 16px;
    }

    /*.stock__item {*/
    /*    max-width: 330px;*/
    /*    margin-bottom: 32px;*/
    /*}*/

    /*.stock__img {*/
    /*    width: 330px;*/
    /*    height: 330px;*/
    /*}*/

    .stock__discription {
        font-size: 18px;
    }

    .discounts_title {
        margin-top: 79px;
    }

    .discounts_item {
        max-width: 210px;
    }

    .brands__img {
        max-height: 120px;
    }

    .brands_items {
        margin-bottom: 60px;
        gap: 20px 30px;
        align-items: center;
    }

    .footer_info {
        margin-top: 36px;
    }

    .footer_info p {
        max-width: 450px;
    }

    .footer__block4 {
        grid-row: 5/6;
        grid-column: 1/3;
    }

    .footer__block5 {
        grid-row: 4/5;
        grid-column: 1/2;
        align-self: flex-end;

    }

    .footer__block4 {
        margin-top: 15px;
    }

    .footer__block5 {
        margin-top: 40px;
    }
}

@media (max-width: 700px) {

    .stock__item {
        max-width: 285px;
    }

    /*.stock__img {*/
    /*    width: 285px;*/
    /*    height: 285px;*/
    /*}*/
}


@media (max-width: 600px) {
    .wrapper {
        max-width: 540px;
    }

    header {
        grid-template-rows:  126px 183px;
        grid-template-columns: 240px 240px;
        /*grid-template-rows:  minmax(126px , 170px) minmax(183px, 220px) ;*/
        /*grid-template-columns: minmax(240px, 315px) minmax(240px, 315px);*/
        margin: 0 0 60px 0;
    }

    .bannermain__img {
        height: 130px;
    }
    .banner::after {
        width: 45px;
        height: 4.2px;
        bottom: 10%;
    }

    .banner__img{
        height: 183px;
    }

    .catalog__item4 {
        display: none;
    }

    .banner__text {
        top: 25%;
        left: 6%;
    }

    .banner-2, .banner-3 {
        height: 183px;
    }

    .catalog__items {
        gap: 20px;
    }

    .goods_item {
        max-width: 150px;
    }

    .good__price {
        margin-top: 5px;
    }

    .promo__bg {
        height: 140px;
    }

    .promo {
        grid-template-rows: 70px 70px;
        grid-template-columns: repeat(2, 1fr);

    }

    .promo__img {
        grid-row: 1/3;
        grid-column: 1/2;
        align-self: center;
        max-width: 132px;
    }

    .promo__discription {
        grid-row: 1/2;
        grid-column: 2/3;
        margin-top: 22px;
    }

    .promo__link-block {
        grid-row: 2/3;
        grid-column: 2/3;
        padding: 8px 10px;
    }

    .stock__item {
        max-width: 240px;
        margin-bottom: 32px;
    }

    /*.stock__img {*/
    /*    width: 240px;*/
    /*    height: 240px;*/
    /*}*/

    .discounts_title {
        margin-top: 62px;
    }

    .discounts_item {
        max-width: 150px;
    }

    .brands__img {
        max-height: 90px;
    }

    .brands_items {
        margin-bottom: 175px;
    }

    .footer_info {
        grid-template-columns: repeat(3, minmax(150px, 265px));

    }

}

/*@media (max-width: 375px) {*/
@media (max-width: 520px) {
    .wrapper {
        max-width: 375px;
    }

    header {
        grid-template-areas: "a" "b" "c";

        grid-template-rows:  260px 180px 180px;
        grid-template-columns: minmax(290px, 346px);
        /*grid-template-columns: 346px;*/
        argin: 0 0 40px 0;
    }

    .bannermain__img {
        background-image: url("../images/baner1-small.png");
    }

    .bannermain__img {
        height: 200px;
        margin-bottom: 60px;
        padding: 1;
    }

    .banner::after {
        width: 82px;
        height: 7.8px;
        bottom: 35px;
    }

    .catalog__items {
        margin-top: 40px;
        overflow: hidden;

    }

    .catalog__item4, .catalog__item5, .catalog__item6 {
        display: inline-block;
    }

    .catalog__bg {
        width: 110px;
        height: 110px;
        margin-bottom: 12px;
    }

    .catalog__img {
        width: 50%;
    }

    .catalog__discription {
        max-width: 110px;
    }

    .btn-next {
        display: none;
    }

    .goods_items {
        gap: 25px;
    }

    .goods_item {
        max-width: 158px;
    }

    .good__price {
        margin-top: 5px;
    }

    .goods_item4, .goods_item5, .goods_item6 {
        display: inline-block;
    }


    .promo__bg {
        height: 250px;
    }

    .promo__img {
        grid-row: 1/2;
        grid-column: 1/2;
        margin-left: 20px;
        /*align-self: center;*/
        /*max-width: 132px;*/
    }

    .promo__discription {
        grid-row: 2/3;
        grid-column: 1/3;
        text-align: start;
        line-height: 160%;
        margin-left: -23px;
        max-width: 206px;

        /*margin-top: 22px;*/
    }

    .promo__link-block {
        grid-row: 3/4;
        grid-column: 1/3;
        padding: 16px 52px;
        /*padding: 8px 10px;*/
    }

    .stock__title {
        margin-top: 62px;
    }

    .stock__discription {
        font-size: 14px;
        margin-top: 10px;
    }

    .stock__item {
        max-width: 158px;
        margin-bottom: 13px;
    }

    /*.stock__img {*/
    /*    width: 158px;*/
    /*    height: 158px;*/
    /*}*/

    .discounts_title {
        margin-bottom: 30px;
    }

    .discounts_items {
        justify-content: space-around;
        gap: 25px 30px;
    }

    .discounts_item {
        max-width: 158px;
    }

    .discounts_item4, .discounts_item5, .discounts_item6 {
        display: inline-block;
    }




    .brands_items {
        justify-content: space-around;
        gap: 25px 0;
        margin-bottom: 60px;
    }

    .brands_title {
        margin-top: 60px;
    }



    .footer__block11 {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .footer__block1 {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .footer__block22 {
        grid-row: 3/4;
        grid-column: 1/2;
    }

    .footer__block2 {
        grid-row: 4/5;
        grid-column: 1/2;
        /*padding: 0;*/
        /*margin: 0;*/
    }

    .footer__block3 {
        grid-row: 5/6;
        grid-column: 1/2;
        /*align-self: flex-end;*/
        margin-bottom: 25px;

    }

    .footer__block4 {
        grid-row: 7/8;
        ggrid-column: 1/2;
        line-height: 164.5%;
    }

    .footer__block5 {
        grid-row: 6/7;
        grid-column: 1/2;
        /*align-self: flex-end;*/
        margin-bottom: 25px;
        line-height: 190%

    }


}

@media (max-width: 320px) {
    .wrapper {
        max-width: 320px;
    }

    header {
        grid-template-areas: "a" "b" "c";

        grid-template-rows:  260px 180px 180px;
        /*grid-template-columns: minmax(290px, 346px);*/
        grid-template-columns: 290px;
        argin: 0 0 40px 0;
    }

    .bannermain__img {
        background-image: url("../images/baner12-small.png");
    }

    .bannermain__img {
        height: 200px;
        margin-bottom: 60px;
        padding: 1;
    }

    .goods_item {
        max-width: 130px;
    }


    .stock__title {
        margin-top: 60px;
    }

    .stock__item {
        max-width: 130px;
    }

    .stock__img {
        width: 130px;
        height: 130px;
    }

    .discounts_item {
        max-width: 130px;
    }

    .brands__img {
        max-height: 80px;
    }
}