body {
    font-family: 'Roboto', sans-serif;

    line-height: 130%;
    font-weight: 400;
    color: #333333;
}

.wrapper {
    max-width: 1410px;
    margin: 0 auto;
    /*padding: 0 15px;*/
    /*Похорошей бы поставить паддинги, но там ломается адаптив, а я только все доделал*/
}

.btn-next {
    display: none;
    background-color: transparent;
    border: none;
    background-image: url("../images/arrow.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    cursor: pointer;
    align-self: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100%;

}

.btn-position {
    align-self: start;
    padding-top: 50px;
}


header {
    display: grid;
    grid-template-areas: "a a"
                         "b c";
    grid-template-rows:  360px 360px;
    grid-template-columns: 690px 690px;
    justify-content: center;
    margin: 30px 15px 100px 15px;
    gap: 28px 30px;

}


.banner {
    box-sizing: border-box;
    grid-area: a;
    position: relative;
}


/*Бутафорские точки*/
/*.banner::after {*/
/*    content: '';*/
/*    display: block;*/
/*    background-image: url("../images/points.svg");*/
/*    background-repeat: no-repeat;*/
/*    background-size: contain;*/
/*    width: 124px;*/
/*    height: 12px;*/
/*    position: absolute;*/
/*    bottom: 10%;*/
/*    left: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*}*/

.bannermain__img {
    background-image: url("../images/baner1.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 360px;
    /*width: 100%;*/

}

.banner-2 {
    grid-area: b;
    /*margin-right: 15px;*/
}

.banner-3 {
    grid-area: c;
    /*margin-left: 15px;*/

}

.banner__picture {
    position: relative;

}

.banner__img{
    width: 100%;
    vertical-align: bottom;

}

.banner__gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(31, 130, 215, 0.8) 60.71%);
    opacity: 1;
    border-radius: 4px;

}

.banner__text {
    position: absolute;
    top: 53%;
    left: 9%;
    padding-top: 30px;
    color: #fff;
    /*margin-top: 210px;*/
    /*margin-left: 41px;*/
}

.banner__title {
    font-size: 28px;
    font-weight: 600;
    line-height: 112.5%;
    margin: 0;
    margin-bottom: 5px;
}

.banner__discription {
    font-size: 16px;
    max-width: 387px;
    line-height: 130%;
    margin: 0;
}


/*CATALOG*/

.catalog__items {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    /*padding: 0 15px;*/
    margin: 0 0px 102px 0px;
}

.catalog__link {
    text-decoration: none;
    color: #333333;
}

.catalog__bg {
    /*display: flex;*/
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #F8F8F8;
    width: 180px;
    height: 180px;
    border-radius: 100%;
    margin-bottom: 24px;

}

.catalog__img {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.catalog__discription {
    text-align: center;
    max-width: 180px;
    font-size: 16px;
}

/*Goods Популярные товары*/

goods {
    /*margin: 0 30px 70px 0;*/
    /*margin-bottom: 70px;*/
}

.goods_title {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 40px;
}

.goods_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.goods_item {
    display: inline-block;
    box-sizing: border-box;
    /*flex: 1 1 210px;*/
    max-width: 210px;
}

.good__link {
    text-decoration: none;
    color: #333333;
}

.good__pictures {
    text-align: center;
    position: relative;
}


.good__sale {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #FF5C00;
    color: #fff;
    padding: 5px 10px;
    border-radius: 100px;
    font-size: 13px;
    line-height: 130%;
    font-weight: 400;
}

.good__hit {
    background-color: #00A3FF;
}

.good__img {
    max-height: 194px;
    text-align: center;
    position: relative;
}



.good__discription {
    max-width: 210px;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

.good__price {
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    margin: 0;
}

.goods_item span {
    font-weight: 600;
    font-size: 14px;
    color: #999999;
    margin-left: 6px;
    position: relative;
}

.goods_item span::after {
    content: '';
    display: block;
    background-image: url("../images/line.svg");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 55px;
    height: 1px;
    top: 8px;
    left: -3px;
}


/*РЕКЛАМА BANNER*/


.promo__bg {
    max-width: 1410px;
    height: 210px;
    background: linear-gradient(91.12deg, #000000 43.53%, rgba(51, 51, 51, 0.63) 97.82%);
    border-radius: 4px;
    margin-top: 75px;
    height: 205px;
    display: flex;
    justify-content: space-around;
}

.promo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
    /*align-content: center;*/
}

.promo__img {
    max-width: 241px;
    align-self: center;
    justify-self: center;
}

.promo__discription {
    font-size: 28px;
    color: #fff;
    text-align: center;
    line-height: 130%;
    font-weight: 400;
    max-width: 355px;
    justify-self: center;
}

.promo__link-block {
    /*text-align: center;*/
    justify-self: center;
}

.promo__link {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    border: 2px solid #FFFFFF;
    border-radius: 4px;
    text-align: center;
    padding: 12px 32px;
    /*text-align: center;*/
}



/*АКЦИИ STOCK*/

.stock__title {
    font-size: 28px;
    font-weight: 500;
    margin-top: 72px;
    margin-bottom: 30px;
}

.stock__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /*align-items: center;*/
}

.stock__item {
    /*display: inline-block;*/
    box-sizing: border-box;
    /*flex: 1 1 210px;*/
    max-width: 330px;
}

.stock__link {
    text-decoration: none;
    color: #333333;
}

.stock__img {
    /*ПОПРОБУЮ ЗАДАТЬ ШИРИНУ ЧЕРЕЗ 100%*/

    /*width: 330px;*/
    /*height: 330px;*/
    width: 100%;
}



.stock__discription {
    font-size: 18px;
    font-weight: 500;
    margin-top: 14px;
    margin-bottom: 8px;
}

.stock__text {
    font-size: 13px;
    margin: 0;
    line-height: 130%;
    /*text-overflow: ellipsis;*/
}


/*СКИДКИ DISCOUNTS*/



.discounts_title {
    font-size: 28px;
    font-weight: 500;
    margin-top: 100px;
    margin-bottom: 47px;
}

.discounts_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.discounts_item {
    display: inline-block;
    box-sizing: border-box;
    /*flex: 1 1 210px;*/
    max-width: 210px;
}

.discounts__link {
    text-decoration: none;
    color: #333333;
}

.discounts__pictures {
    text-align: center;
    position: relative;
}


.discounts__sale {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #FF5C00;
    color: #fff;
    padding: 5px 10px;
    border-radius: 100px;
    font-size: 13px;
    line-height: 130%;
    font-weight: 400;
}

.discounts__hit {
    background-color: #00A3FF;
}

.discounts__img {
    max-height: 190px;
    text-align: center;
    position: relative;
}



.discounts__discription {
    max-width: 210px;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

.discounts__price {
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    margin: 0;
}

.discounts_item span {
    font-weight: 600;
    font-size: 14px;
    color: #999999;
    margin-left: 6px;
    position: relative;
}

.discounts_item span::after {
    content: '';
    display: block;
    background-image: url("../images/line.svg");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 55px;
    height: 1px;
    top: 8px;
    left: -3px;
}


/*Бренды BRANDS*/


.brands_title {
    font-size: 28px;
    font-weight: 500;
    margin-top: 110px;
    margin-bottom: 30px;
}

.brands_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}

.brands__img {
    max-height: 131px;
}

/*FOOTER*/


footer {
    background-color: #F8F8F8;
    padding: 1px;
}

.footer_info {
    display: grid;
    margin-top: 75px;
    grid-template-columns: repeat(3, 360px);


}

.footer__title {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 500;
}

.footer__list {
    list-style-type: none;
    font-size: 18px;
    font-weight: 500;
    /*max-width: 237px;*/
    padding: 0;
}

.footer_info li {
    font-size: 16px;
    font-weight: 400;
    line-height: 220%;

}

.footer_info a {
    text-decoration: none;
    color: #333333;

}

.footer_info p {
    text-decoration: none;
    color: #333333;
    max-width: 237px;
    font-size: 13px;
    line-height: 190%;
    margin: 0;

}

.footer_social__logo {
    width: 36px;
    height: 36px;
}

.footer__block11 {
    grid-row: 1/2;
    grid-column: 1/2;
}

.footer__block1 {
    grid-row: 2/3;
    grid-column: 1/2;
}

.footer__block22 {
    grid-row: 1/2;
    grid-column: 2/3;
}

.footer__block2 {
    grid-row: 2/4;
    grid-column: 2/3;
    /*padding: 0;*/
    /*margin: 0;*/
}

.footer__block3 {
    grid-row: 3/4;
    grid-column: 1/2;
    align-self: flex-end;
}

.footer__block4 {
    grid-row: 2/3;
    grid-column: 3/4;
}

.footer__block5 {
    grid-row: 3/4;
    grid-column: 3/4;
    align-self: flex-end;

}



/*Добавление слайдера*/

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
    /*Мы делаем выравнивание по верху, чтобы у нас работал автоматический выравниватель но высоте для каждого объекта*/
    /*align-items: flex-start;*/
    /*align-items: flex-end;*/
}

.slider {
    position: relative;
    padding: 0 40px;
    min-width: 0;
}

/*при включении функции centerMode появился новый класс slick-center, благодаря которому мы можем добавить стиль к главному слайду*/
.slider__items.slick-center {
    opacity: 1;
}

/*Настройки для верхнего слайдера banner-slider*/
.slick-list {
    max-width: 100%;
}

.slick-list img{
    width: 100%;
    object-fit: cover;
}

.banner-slider {
    position: relative;
    padding: 0;
}

.banner-slider .slick-dots {
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
    /*justify-content: center;*/
    /*align-items: center;*/
}

.banner-slider ul.slick-dots  {
    padding: 0;

}

.banner-slider .slick-dots li {
    list-style: none;
    margin-left: 10px;

}


.banner-slider .slick-dots button {
    font-size: 0;
    width: 12px;
    height: 12px;
    background-color: #E6E6E6;
    border-radius: 50%;
    /*border-color: #fff;*/
    border: 0px solid #fff;
    padding: 0;

}

.banner-slider .slick-dots li.slick-active button {
    background-color: #C4C4C4;

}


@media (max-width: 1440px) {

    .banner-slider .slick-dots button {
        width: 9.5px;
        height: 9.5px;
    }
}

@media (max-width: 1070px) {

    .banner-slider .slick-dots button {
        width: 8px;
        height: 8px;
    }
}

@media (max-width: 960px) {

    .banner-slider .slick-dots button {
        width: 8px;
        height: 8px;
    }
}

@media (max-width: 768px) {

    .banner-slider .slick-dots {

        bottom: -5%;
    }

    .banner-slider .slick-dots button {
        width: 6px;
        height: 6px;
    }
}


@media (max-width: 520px) {

    .banner-slider .slick-dots {

        bottom: -25%;
    }

    .banner-slider .slick-dots button {
        width: 7.8px;
        height: 7.8px;

    }
}



@media (max-width: 375px) {

    .banner-slider .slick-dots {

        bottom: -20%;
    }

}